.auth-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  overflow: hidden;
}

.left-panel {
  background-color: white;
  height: 100%;
}

.left-panel-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left-panel h2 {
  font-weight: bold;
}

.left-panel li::before {
  content: "✓ ";
  margin-right: 8px;
  color: #fff;
}

.welcomeHeading,
.welcomeText {
  color: black;
}

.btn.btn-outline-dark {
  background-color: white;
  width: 65%;
  margin: 0 auto;
  display: block;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  transition: all 0.3s ease;
}

.btn.btn-outline-dark:hover {
  background-color: #343a40;
  color: white;
  border-color: #343a40;
  transform: scale(1.05);
}

.button-section {
  margin-top: 80px;
  gap: 20px;
}

.right-panel-text {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
