main {
    padding: 2rem;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  section {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 3 columns */
    gap: 1.5rem; /* Space between the cards */
    width: 1400px;
    height: 600px;
  }
  
  article {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative; /* important */
    height: 300px; /* set a fixed height for consistency */
  }
  
  button {
    color: white;
    background-color: #12357c;
    margin-top: 6rem;
    width: 100%; /* Button spans the width of the card */
    padding: 0.5rem;
    cursor: pointer;
  }
  